APScheduler==3.10.1
colorlog==6.7.0
nest-asyncio==1.5.4
parsimonious==0.10.0
pytest==7.4.0
regex==2022.10.31
todotxt==0.0.2
tzdata==2023.3
tzlocal==5.0.1
websocket-server==0.6.4
websockets==10.4
Yapsy==1.12.2
