aioschedule==0.5.2
apscheduler==3.9.1
pytest-asyncio
nest-asyncio==1.5.6
colorlog==6.7.0
jedi==0.18.2

Jinja2==3.1.2
Js2Py==0.74
jsonschema==4.6.0

parsimonious==0.10.0
parso==0.8.3

pluggy==1.0.0

py-mini-racer==0.6.0
pytest

regex==2022.10.31
termcolor==2.1.1
tgclient==1.5.3

websockets==10.4

Yapsy==1.12.2

